<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class><!--스프링에서 톰캣 시작, 끝날때 ,세션시작 등등 톰캣 관련 리스너 아래 디스패처 서블릿이 이친구 이용가능  -->
  </listener>
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>
  	/WEB-INF/spring/service-context.xml
  	/WEB-INF/spring/security-context.xml</param-value><!--이용 가능해서 여기서 이렇게 파람값 두개 이상 줘서 이용가능  -->
  </context-param>
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class><!-- default로 하면 그냥 끝에 servlet이라고 써져있은거 매핑-->
  	<init-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/spring/servlet-context.xml</param-value><!-- 이 디스페처 서블릿을 servlet-context.xml로 한다는거임 위에 대소문자 잘지켜야함 저거 setter 메서드 쓰는거임  -->
  	</init-param>
  	<load-on-startup>1</load-on-startup><!-- 원래는 url을 요청할때 디스패쳐 서블릿 실행되는데 이거하면 톰캣 실행동시에 바로 메모리에 넣음 그러면 더 빨리 실행되겠지? 아무튼 개꿀이지 1을 넣은 이유는 위에꺼랑 같이 할때 우선순위 정할려 -->
  </servlet>
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <display-name>webprj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>